#headlines{
    font-family: cursive;
    text-align: center;
}
#bookcard{
    padding: 1.25em;
    border: 0.3125em;
    margin: 2.5em;
    background: lightblue;
}
body{
    background-image: url("https://s3.eu-central-1.amazonaws.com/uploads.mangoweb.org/shared-prod/visegradfund.org/uploads/2019/11/canva-literary-book-pages-background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll,local;
    background-size: auto;
}