@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url("https://s3.eu-central-1.amazonaws.com/uploads.mangoweb.org/shared-prod/visegradfund.org/uploads/2019/11/canva-literary-book-pages-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll, local;
  background-size: auto;
  backdrop-filter: blur(5px);
}
#webicon {
  width: 7em;
  height: 7em;
  border: 20px;
  border-color: blue;
} 
#cardplace {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 3rem;
  padding-left: 1.7rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}
header h1 {
  font-family: "Lobster", cursive;
  font-size: 4rem;
  color: white;
}
.card {
  height: 24em;
  width: 15em;
  background: linear-gradient(to right, rgb(102, 214, 177), steelblue);
  border-radius: 10px;
  overflow: auto;
}
.card h4,
details,
a {
  padding: 0.51rem;
}
.img-container {
  height: 70%;
  width: 90%;
  overflow: hidden;
  transform: translateX(6%);
}
.img-container img {
  height: 100%;
  width: 100%;
  transition: 0.5s all;
  border-radius: 10px;
}
.img-container img:hover {
  transform: scale(1.15);
}
