<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="theme-color" content="#18deb6" />
    <meta name="description" content="A simple app for world famous books that might help us in our daily life." />
    <meta name="keywords" content="books, famous books, mahmud's collected books, books for daily life, books for life, books for success, books for motivation, books for inspiration, books for self development, mental relaxation books, medical books, rare books, books for everyone" />
    <meta name="author" content="Mahmud" /> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script
    src="https://code.jquery.com/jquery-3.7.0.min.js"
    integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
    crossorigin="anonymous"></script>
    {% block head %}
    {% endblock %}
    <title>{% block title%}{% endblock %}</title>
</head>
<body>
    {% block body %}
    {% endblock %}
</body>
</html>

