{% extends '_main.html' %}
{% block head %}
    <style>
        body{
            background: none;
        }
        /*
        .flipbook {
            width: 100vw;
            height: 100vh;
        }
        .page {
            width: 100%;
            height: 100%;
        }*/
    </style>
{% endblock %}
{% block title %}{{ book.name }}{% endblock %}
{% block body %}
    <h3 align="center">{{ book.name }}</h3>
    <p align="center">{{ book.description }}</p>
    <div class="flipbook">
        {% for img in image %}
        <div >
            <img src="data:image/jpeg;base64,{{ img }}" alt="Page {{ loop.index }}" loading="lazy">
        </div>
        {% endfor %}
    </div>
    <!--<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/turn.js/4.0.2/turn.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/turn.js/4.0.2/turn.min.js"></script>
    
    <script src="http://www.turnjs.com/lib/turn.min.js"></script>-->
    <script>
        //$(document).ready(function() {
        //    $("#flipbook").turn();
        //});
        $(document).ready(function() {
            $(".flipbook").turn({
                width: '100%',
                height: '100%',
                autoCenter: true
            });
        });
    </script>

    
{% endblock %}